

mixin checkbox(title, checked)
  -let index = Math.round(Math.random() * 1000000)
  .checkbox
    input(type="checkbox" id=index checked=checked)
    label(for=index) 
      svg.icon
        use(xlink:href='./img/icons/icons.svg#check')
      span !{title}

mixin product-card(type)
  .product-card(data-custom-interaction)
    .product-card__image
      if type == 1
        .product-labels.product-card__labels
          .product-label.product-label_type-bestseller Хит продаж
          .product-label.product-label_type-new Новинка
      else if type == 3
        .product-labels.product-card__labels
          .product-label.product-label_type-low-price Цена снижена

      a(href="#").image.image_contain 
        img(src='#' data-src=`./img/product-${type}.png`, alt="image").lazyload

      button.product-favourite.product-card__favourite(class=type==4?'is-active':'')
        svg.icon
          use(xlink:href='./img/icons/icons.svg#heart-fill')

    .product-card__content
      .product-card__content-top  
        .product-card__top-content 
          .product-card__pricing 
            if type == 3
              .product-card__price 1100 ₽
            else 
              .product-card__price 250 ₽
            if type == 3
              .product-card__old-price 1 490 ₽
          
          button.product-card__to-card 
            svg.icon
              use(xlink:href='./img/icons/icons.svg#shopping-cart')
        
        a(href="#").product-card__reviews
          .product-card__reviews-stars
            .product-card__reviews-star
              svg.icon
                use(xlink:href='./img/icons/icons.svg#star')
            .product-card__reviews-star
              svg.icon
                use(xlink:href='./img/icons/icons.svg#star')
            .product-card__reviews-star
              svg.icon
                use(xlink:href='./img/icons/icons.svg#star')
            .product-card__reviews-star
              svg.icon
                use(xlink:href='./img/icons/icons.svg#star-half')
            .product-card__reviews-star
              svg.icon
                use(xlink:href='./img/icons/icons.svg#star-empty')
          span 
            if type == 3 
             | 16 
            else 
              | 100 
            span.d-none.d-sm-inline отзывов

        a(href="#").product-card__title
          if type == 2 
            | Дасамула порошок (Dashamoola Powder) натуральный травяной
          else if type == 3
            | Косметическое масло-баттер МАНГО, Крымская роза, 100 г.
          else 
            | Дасамула порошок

      .product-card__category-label 
        if type == 1
          | Биодобавки и травы
        else if type == 2
          | Косметические (базовые) масла
        else if type == 3
          | Саморазвитие
        else  
          | Биодобавки и травы

    .product-card__button 
      button.button.button_style-2.button_wide(class=type==2?'button_is-active':'' class=type==3?'button_in-progress':'')
        span.button__inner.button__default 
          svg.icon
            use(xlink:href='./img/icons/icons.svg#handbag')
          span В корзину
        span.button__inner.button__in-progress 
          span Секундочку
          svg.icon
            use(xlink:href='./img/icons/icons.svg#spinner')
        span.button__inner.button__is-active 
          svg.icon
            use(xlink:href='./img/icons/icons.svg#check-round')
          span В корзине

mixin blog-card(type)
  article.blog-card(data-custom-interaction)
    .blog-card__image 
      a(href="#").image.image_cover 
        img(src='#' data-src=`./img/blog${type}.jpg`, alt="image").lazyload
    .blog-card__content
      .blog-card__content-top 
        h4.blog-card__title 
          a(href="#") 
            if type == 1
              | Карты Таро и выбор колоды для начинающих
            else  
              | 8 вариантов подарков на Китайский Новый год
        p.blog-card__text 
          if type == 1
            | Какие карты Таро для начинающих выбрать? Какие расклады существуют, как правильно проводить гадание, делать трактовку?
          else  
            | 3 ноября в Японии отмечают День культуры.
      .blog-card__content-bottom
        span.blog-card__comments 19 комментариев
        .blog-card__info 
          .blog-card__info-element 
            svg.icon(stroke-width='1.1')
              use(xlink:href='./img/icons/icons.svg#heart')
            span 120
          .blog-card__info-element 
            svg.icon
              use(xlink:href='./img/icons/icons.svg#eye')
            span 9500


        


mixin section-head(title, link)
  .section__head.mb-1.mb-sm-2.d-flex.align-items-center.justify-content-between
    h2.mb-0=title
    .d-none.d-md-block
      a(href="#").icon-link.icon-link_type-2 
        span=link
        svg.icon
          use(xlink:href='./img/icons/icons.svg#caret-right')